html
    head
        title AES
    body
        div AES
        br
        form(action = "/", method = "POST" enctype="multipart/form-data")
            div
                label(for = "stringEncrypt") Chuoi ma hoa:
                br
                input(name = "stringEncrypt" type="text" value = stringFile)
            br
            div
                label(for = "fileEncrypt") File:
                br
                input(name = "fileEncrypt" type="file" value = file)
            br
            button(type = "submit") Ma hoa
        